@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Play:wght@400;700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Bruno+Ace&family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sansation", sans-serif;
}
/* color: #eb1d1e; gorilla us */
/* color: #e32123; gorilla bg */

img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Sansation", sans-serif;
}


h5 {
    
    text-decoration: underline;
    font-size: 1em;
    padding: 1em .5em .3em .6em;
    text-transform: uppercase;
    text-align: center;
}
h6 {
    border: 1px solid red;
    display: inline;
    padding: .5em;
    font-size: 1em;
    letter-spacing: 1px;
    color: #e32123;
    /* color: white; */
    margin-left: .5em;
}


.warm-up {
    margin-top: 5em;
    
}


.warm-up{
    height: 100px;
    background-image: url(../images/warm-upTOP.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    border-bottom: 1px solid black;
}
.main-exercises{
    height: 150px;
    background-image: url(../images/main-ex-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    border-bottom: 1px solid black;
}
.stretching{
    height: 100px;
    background-image: url(../images/stratchingRED.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    border-bottom: 1px solid black;
}


.top, .middle, .bottom {
    background-color: rgba(235, 235, 235, 0.552);
    margin-bottom: 10em;
    padding: 5em 11% 5em 11%;
    border-bottom: .5px solid black;
    
}





.photo {
    height: 70vh;
    background-image: url(../images/TJ-Garcia.jpg);
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
}

.photo {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.border-space {
    background-color: black;
    padding-top: .3em;
}
.photo h1 span {
    font-family: "Outfit", sans-serif; 
    font-style: italic;
    font-weight: 100;
    font-size: 1em;
}



/* HTML: <div class="box"><sh></sh> </div> */
.box {
  position: relative;
  transform-style: preserve-3d;
  padding: 1em;
  h1 {
    font-weight: 100;
    text-align: center;
    font-size: 1.2em;
  }
}
.box::before {
  content: "";
  position: absolute;	
  inset: 0px;
  background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
  filter: blur(10px);
  transform: translate3d(0px,0px,-1px);
  clip-path: polygon(-100vmax -100vmax,100vmax -100vmax,100vmax 100vmax,-100vmax 100vmax,-100vmax -100vmax,calc(0px - 0px) calc(0px - 0px),calc(0px - 0px) calc(100% - 0px - 0px),calc(100% - 0px - 0px) calc(100% - 0px - 0px),calc(100% - 0px - 0px) calc(0px - 0px),calc(0px - 0px) calc(0px - 0px));
  pointer-events: none;
}



main .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main .box-content {
    border-radius:  1em;
    padding: 1em;
    box-shadow: 5px 5px #7B7B7B;
}
main h1 {
    font-size: 1.1em;
    color: white;
    text-transform: capitalize;
    letter-spacing: .6px;
    font-family: "Outfit", sans-serif; 
    background-color: rgb(31, 179, 190);
    font-weight: 300;
    width: 18.95em;
    padding: .3em .5em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
main h2 {
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.1em;
    font-family: "Outfit", sans-serif; 
    letter-spacing: .5px;
    width: 18em;
    text-align: justify;
    padding: 0 0 .5em .5em;
    color: #000000;
}
main iframe {
    width: 20.7em;
    height: 13em;
    border: none;
    padding: .5em;
}

.middle {
    display: flex;

}



main .middle, .bottom  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    row-gap: 50px;
    flex-wrap: wrap;
}
main .bottom  {
    margin-bottom: 5em;
}



footer {
    background-color: #000000; ;
    height:100%;
    padding: 2em;
    display: flex;
    justify-content: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(31, 179, 190);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-form-container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  max-width: 25em;
}


@media (max-width: 1100px) {
    .photo h1 {
        font-size: 2em;
    }
}

@media (max-width: 750px) {
    .photo h1 {
        max-width: 90%;
        font-size: 1.5em;
    }
}
@media (max-width: 1300px) {
    .top, .middle, .bottom {
        /* background-color: rgba(235, 235, 235, 0.552); */
        margin-bottom: 10em;
        padding: 5em 2% 10em 2%;
    }
}
@media (max-width: 1100px) {
    .photo h1 {
        font-size: 2em;
    }
}

@media (max-width: 800px) {
    .top, .middle, .bottom {
        /* background-color: rgba(235, 235, 235, 0.552); */
        margin-bottom: 10em;
        padding: 5em 2% 10em 2%;
    }
    .photo {
        font-size: 1.5em;
    }
    
}


@media (max-width: 750px) {
    .photo h1 {
        max-width: 90%;
        font-size: 1.5em;
    }
}

@media (max-width: 600px) {
    .photo {
        font-size: 1em;
    }   
}









.new-ex {
    background-image: url(../images/sounds.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.ribbon {
  --f: .4em; /* control the folded part */
  --r: .8em; /* control the cutout */
  
  position: relative;
  /* right: 20px; */
  /* top: calc(-1*var(--f)); */
  /* padding: .2em; */
  border: solid #0000;
  border-width: 0 calc(2*var(--f)) var(--r) 0;
  background: 
    radial-gradient(50% 100% at bottom,#0005 98%,#0000 101%) 
    100% 0/calc(2*var(--f)) var(--f) no-repeat border-box;
  background-color: #C8CF02;
  border-radius: var(--f) var(--f) 0 0;
  clip-path: polygon(100% 0,0 0,0 calc(100% - var(--r)),calc(50% - var(--f)) 100%,calc(100% - 2*var(--f)) calc(100% - var(--r)),calc(100% - 2*var(--f)) var(--f),100% var(--f));
}