@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Roboto", sans-serif; */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Lato", sans-serif; */
/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;;
    /* font-family: "Lato", sans-serif; */
}
img {
    width: 100%;
}


in-the-gym-heading {
    height: 280px;
    border: 1px solid black;
}

.the-gym-head {
    margin-top: 6em;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/personal/1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-image: fill 1 linear-gradient( hsl(0 100% 50% / .10), hsl(240 100% 50% / .4));

    .in-the-gym-title {
        font-family: "Alumni Sans", sans-serif;
        color: white;
        position: relative;
        p{
            margin: 0 -.1em;
        }
        h1 {
            margin-left: .15em;
            font-size: 2em;
            position: absolute;
            line-height: 1.1;
            text-align: left;
            padding: .5em 1em 1em .3em;
            border-left: 1px solid #A9242B;
            /* background-color: #A9242B; */
            width: 100%;
        }
    }
}

/* .container {
  width: 100px;
  height: 10px;
  background-color: rgb(128, 15, 15);
}
.circle {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: solid 10px rgb(235, 14, 14);
  border-radius: 50%;
} */

.middle-line-container {
    display: grid;
    grid-template-columns: 210px 1px 215px;
    padding: 2em 0em;
}

.middle-line-container .box-2 {
    border: .01em solid #A9242B;
    height: 20vh;
    position: relative;
}
.middle-line-container .box-2 .cyrcle {
    width: 10px;
    height: 10px;
    background-color: #A9242B;
    border-radius: 50%;
    margin-left: -5px;
}
.middle-line-container .box-one {
    background-color: transparent;
}
.middle-line-container .cyrcle-one {
    margin-top: 4.5em;
}
.middle-line-container .cyrcle-two {
    margin-top: 10em;
}
.middle-line-container .box-1-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    padding: 1em 1em 1em 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    line-height: 1em;
    color: rgba(240, 248, 255, 0.452);
    width: 100%;
    p {
        font-size: 1em;
        padding: 0 1em  ;
    }
}

.ready-to-start {
    height: 10em;
    background-image: url(../images/personal/head.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: white;
        font-family: "Alumni Sans", sans-serif;
    }
}


.lorem {
    color: black;
}





