*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}





@media (min-width: 719px) {
    .head_content {
        opacity: 0;
    }

}


@media (max-width: 720px) {
   .face_image {
    
      img {
        border-radius: 100%;
        margin-left: 250px;
        margin-top: -50%;
        width: 150px;
      }
}

    }