@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Roboto", sans-serif; */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Alumni Sans", sans-serif; */
/* font-family: "Lato", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80vh;
}

header .head-bg {
    height: 80vh;
    width: 100%;
    background-image: url(images/1st-page/head/headerBG.png), url(images/1st-page/head/headerBG.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}



header .head-content {
    padding: 12%;
}
header .flex-center {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.head-title {
    flex: 1;
}
header h3 {
    color: white;
    font-size: .8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 2em;
}
header h1 {
    color: white;
    font-size: 3.8em;
    font-family: "Alumni Sans", sans-serif;
    max-width: 10em;
    text-transform: uppercase;
    margin-bottom: 1em;
    line-height: 1;
}
header button {
    color: white;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1px;
    background-color: #A9242B;
    padding: 1.1em;
    border: none;
    cursor: pointer;
}
header button:hover {
    background-color: #a9242baf;
}

main-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

main-head .red-box {
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 100;
}

main-head .white-box{
    width: 30em;
    height: 5em;
    background-color: white;
}
main-head .red-box{
    width: 30em;
    height: 5em;
    background-color: #A9242B;
}
main-head span{
    font-weight: 700;
    font-size: 1.2em;
    color: white;
}

main-head .flexSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main-head .phone {
    color: #A9242B;
    font-weight: 700;
    font-size: 1.5em;
}
main-head .email {
    color: black;
    font-weight: 300;
    font-size: 1.2em;
}


.about-trainer {
    height: 20em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1em 2em;
}
.about-trainer p{
    max-width: 35em;
    color: rgb(150, 150, 150);
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: .8px;
}

.head-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head-line-container .head-line {
    font-family: "Alumni Sans", sans-serif;
    font-size: 4em;
    color: #18191A;
    font-weight: 800;
    -webkit-text-stroke: .3px white;
}
.head-line-container .sub-line {
    margin-top: -.2em;
    font-family: "Alumni Sans", sans-serif;
    font-size: 3em;
    color: #A9242B;
    font-weight: 800;
}

.privet-gym-online-sections {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.privet-gym-online-sections section{
    height: 20em;
    width: 22em;
}
.privet-gym-online-sections .online{
    background-image: url(images/1st-page/online.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.privet-gym-online-sections .gym{
    background-image: url(images/1st-page/atGym.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.privet-gym-online-sections .privet{
    background-image: url(images/1st-page/atHome.png);
    background-size: cover;
    background-position: center;
    position: relative;
}



.online-container, .gym-container, .privet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.team {
    width: 100%;
    padding: 1em;
    color: rgb(180, 51, 51);
    font-weight: 700;
}

.button {
    color: white;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: 1px;
    background-color: #A9242B;
    border-radius: 5px;
    padding: 1.1em;
    text-decoration: none;
    margin-bottom: 5em ;
}

.aboveAll {
    margin-top: 5em;
    background-image: url(images/ali-choubin-UdNmea6BA8w-unsplash.jpg);
    height: 50em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em ;
}
.aboveAll-container-flexColumns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboveAll-sub-text, .aboveAll-main-text {
    color: white;
    font-family: "Alumni Sans", sans-serif;
    text-align: center;
}
.aboveAll-sub-text {
    font-size: 1.5em;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.432);
}
.aboveAll-main-text {
    font-size: 3.5em;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 1em;
    line-height: 1;
}

.aboveAll-boxes {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}
.aboveAll-boxOne, .aboveAll-boxTwo, .aboveAll-boxThree {
    height: 15em;
    width: 420px;
    color: white;
    background-color: #a9242bb7;
    border-radius: 5px;
}
.aboveAll-boxOne, .aboveAll-boxTwo, .aboveAll-boxThree {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.first-row {
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Alumni Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2.1em;
}
.sec-row {
    text-align: center;
    text-transform: uppercase;
    font-family: "Alumni Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2.2em;
    color: #ffffff;
}







.red {
    border: 1px solid red;
}
.white {
    border: 1px solid white;
}
.purple {
    border: 1px solid purple;
}
.green {
    border: 1px solid green;
}

@media (max-width: 1070px) {
    .aboveAll-boxes {
        display: flex;
        justify-content: center;
        gap: .7em;
        flex-wrap: wrap;
}
    .aboveAll-sub-text {
        font-size: 1.5em;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.432);
}

    .aboveAll-boxOne, .aboveAll-boxTwo, .aboveAll-boxThree {
        height: 11em;
        width: 100%;
        color: white;
}

    .first-row {
        font-size: 2.1em;
        margin-top: .1em;
}
    .sec-row {
        font-size: 2em;
    }
}
@media (max-width: 960px) {
    main-head .white-box{
        width: 80%;
        height: 5em;
        background-color: white;
    }
    main-head .red-box{
        width: 80%;
        height: 5em;
        background-color: #A9242B;
    }
}

@media (max-width: 860px) {
    header .flex-center {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .none {
        display: none;
    }
}

@media (max-width: 550px) {
    main-head .white-box{
        width: 100%;
        height: 5em;
        background-color: white;
    } 
    main-head .red-box{
        width: 100%;
        height: 5em;
        background-color: #A9242B;
    }
    .about-trainer p{
        font-size: 17px;
    }

    .head-line-container .head-line {
        font-size: 3em;
    }
    .head-line-container .sub-line {
        font-size: 2.5em;
    }
}
@media (max-width: 420px) {
    .aboveAll-sub-text {
    font-size: 1.1em;
}
    .aboveAll-main-text {
        font-size: 2.5em;
    
}
}