* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #18191A;
}



.head-content{
    background-image: url(headerBG.png);
    height: 800px;
    -o-backgound-size: cover;
    -moz-backgound-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    background-color: none;
    
}


@media all and (max-width:1024px) {
    .head-content:after {
        content: '';
        background-position: inherit;
        background-image: url(small.png);
        background-size: inherit;
        background-attachment: inherit;
        background-repeat: inherit;
        position: fixed;
        top: 0;
        z-index: -1;
    }
}

.lorem {
    text-align: justify;
    padding: .5em;
}

