@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.first-day-head-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 179, 190);
    height: 20em;
    .first-day-head-content {
        text-align: center;
        h5 {
            font-style: italic;
            font-family: "Sofia Sans", sans-serif;
            font-weight: 200;
            color: white;
        }
        .first-day-head-content-title {
            h1 {
                color: rgb(248, 248, 248);
                font-weight: 500;
                margin: .6em 1em .3em 1em;
                
            }
            p {
                color: rgba(255, 255, 255, 0.829);
            }
        }
    }
}


.main-div-day-off {
    margin: 6em .5em 6em 0;
    display: flex;
    justify-content: center;
    column-gap: 1em;
    flex-wrap: wrap;
    row-gap: 1em;
}
.main-div-day-off .nula{
    height: 10em;
    width: 10em;
    border-radius: .8em;
    
}

.nula {
    text-align: center;
    h3 {
        font-weight: 200;
        padding: .8em 0 0 0;
        font-size: .9em;
        text-transform: uppercase;
    }
    h4 {
        font-size: .9em;
        font-family: "Outfit", sans-serif;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: .1em;
        margin-bottom: .6em;
        font-weight: 100;
        border-bottom: 1px solid rgba(0, 0, 0, 0.199);
        padding-bottom: .3em;
    }
    h5 {
        font-family: "Sofia Sans", sans-serif;
        font-weight: 100;
        font-size: 1em;
        letter-spacing: .05em;
        line-height: 1.1;
    }
}
.nula > * {
    color: white;
    
}

.red {
    background-color: rgb(28, 93, 137);
}
.black {
    background-color:  rgb(72, 24, 156);
}
.green {
    background-color:  rgba(24, 121, 9, 0.877);
}


.allVideos {
    background-color: rgba(198, 198, 198, 0.308);
    margin: 0em 2.5%;
    padding: 5em 0em;
}
.stretching_container {
    .exercises-title {
        font-size: 1.5em;
        padding: 0 1em  1em 0; 
        font-weight: 300;
    }
    .video {
        display: inline-block;
        .stretch {
            background-color: rgb(31, 179, 190);
            color: whitesmoke;
            border-radius: 3px;
            display: inline-block;
            padding: .3em 1em;
            text-transform: capitalize;
            
        }
        p {
            max-width: 20.75em;
            background-color: white;
            padding: 2em 1em .5em 1em;
            font-weight: 300;
        }
    }
    iframe {
        background-color: white;
        padding: 0 1em 2em 1em;
        border: none;
    }
}


            
            

.explane {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.allVideos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}



img {
    width: 100px;
}
.damian-pro {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.damiqn {
    text-align: right;
    font-size: .8em;
}
